#nav{
    background-color: rgb(33,37,41) !important;
}
#header-colour{
    background-color: rgb(33,37,41) !important;
}
.fw-normal{
    font-weight: 400 !important;
}
*{
    box-sizing: border-box;
}
.fs-4 {
    font-size: 1.5rem !important;
}

.btn{
    width: 10rem !important;
}

#button-contact{
    width: 5rem !important;
    height: 2rem !important;
    
}
.feature{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
    
}